<HTML><HEAD>
    <title>Zugzielanzeige</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/tiles.css" />
    <script type="text/javascript" src="jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/tiles.js"></script>
</HEAD><BODY>
    <div>
        <div class="lines col-md-3 col-sm-3">
            <% for (var l in lines) { %>
                <div class="line <%= l %>" data-value="<%= l %>"><%= l %></div>
            <% } %>
            <% ['kurz', 'voll', 'lang'].forEach(function(l){ %>
                <div class="length <%= l %>" data-value="<%= l %>"><%= l %></div>
            <% }); %>
            <% ['vorne', 'mitte', 'hinten'].forEach(function(p){ %>
                <div class="position <%= p %>" data-value="<%= p %>"><%= p %></div>
            <% }); %>
        </div>
        <div class="destinations col-md-9 col-sm-9">
            <% for (var d in destinations) { %>
                <div class="destination" data-value="<%= d %>"><%= d %></div>
            <% } %>
        </div>
    </div>
</BODY></HTML>
